{% extends './base.html' %}
{% load humanize %}

{% block content %}
    {% include 'cards/success_message.html' %}
    <h2>
        All Cards
    </h2>
    <div class="btn-group">
        <div class="dropdown show">
          <a class="btn btn-primary dropdown-toggle" style="margin-right: 1em" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your Library
          </a>
          <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a class="test" tabindex="-1">Study Set</a>
                <ul class="dropdown-menu">
                    {% for set in study_set %}
                        <li><a class="dropdown-item" href="{% url 'studyset-detail' set.id %}">
                            {{set.title}}
                        </a></li>
                    {% endfor %}
                 </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="test" tabindex="-1">Folder</a>
                <ul class="dropdown-menu">
                    {% for folder in folders %}
                        <li><a class="dropdown-item" href="{% url 'folder-detail' folder.id %}">
                            {{folder.title}}
                        </a></li>
                    {% endfor %}
                 </ul>
              </li>
          </ul>
        </div>

        <div class=" dropdown show">
          <a class="btn btn-primary dropdown-toggle" style="margin-right: 1em" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'card-create' %}">Card</a>
            <a class="dropdown-item" href="{% url 'studyset-create' %}">Study Set</a>
            <a class="dropdown-item" href="{% url 'folder-create' %}">Folder</a>
          </div>
        </div>

        <br>
        {% if user.is_authenticated %}
            <a class="float-left btn btn-primary " href="{% url 'logout' %}" role="button">Log out</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Sign up/Sign in</a>
        {% endif %}
    </div>
    <br><br>
    {% for card in card_list %}
        {% ifchanged %}
            <h3>🗃 {{ card.box|ordinal }} Box</h3>
        {% endifchanged %}
        {% include './card.html' %}
    {% endfor %}

    <script>
        $(document).ready(function(){
          $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });
        });
    </script>

{% endblock %}

