{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if folder %}
        <h2>✏ Edit Folder</h2>
    {% else %}
        {% include 'cards/success_message.html' %}
        <h3>✨ Create New Folder</h3>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Save Folder">
    </form>

    {% if folder %}
            <a href="{% url 'folder-detail' folder.id %}">Cancel</a>
    {% else %}
            <a href="{% url 'card-list' %}">Cancel</a>
    {% endif %}
    <br><br>
{% endblock %}

