{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flashcards Application</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style type="text/css">@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style>
    <link rel="stylesheet" type="text/css" href= "{% static 'main.css' %}">

</head>

<body>
    <header>
        <h1>Flashcards App</h1>
        {% include "./navigation.html" %}
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>