<head>
	{% load crispy_forms_tags %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href= "{% static 'register_login.css' %}">
	<title>Register User</title>
</head>

<body>
	<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {%if user.authenticated%}
                    <legend class="border-bottom mb-4">Add Profile</legend>
                {%else%}
                    <legend class="border-bottom mb-4">Join Today</legend>
                {%endif%}
                {{ form|crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</body>

